<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jobo.jetpack_mvvm_demo">

    <application
        android:allowBackup="false"
        android:name=".app.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jetpackmvvmdemo"
        tools:ignore="LockedOrientationActivity">
        <!--
        tools:ignore="LockedOrientationActivity"
        期望 android:screenOrientation="unspecified" 或 "fullSensor" 用于此活动，以便用户可以在任何方向使用该应用程序并在 Chrome OS 设备上提供出色的体验-->
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MainActivity" />
    </application>

</manifest>